body {
  margin: 0;
  overflow-x: hidden;
}

.carousel {
  width: 300vw;
  height: 100vh;
  min-height: 500px;
  display:flex;
}

.carousel-block-1, .carousel-block-2, .carousel-block-3 {
  display: block;
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: center;
}

.carousel-block-1 {
  background-color: #aaa;
}

.carousel-block-2 {
  background-color: royalblue;
}

.carousel-block-3 {
  background-color: darkred;
}

.text-panel {
  height: 480px;
  width: 480px;
  opacity: 0.5;
  display: block;
  background-color: white;
  align-self: center;
}
